<footer class="footer">

	<div class="wrap">

		{% if site.data.settings.footer_settings.logo_image %}
		<a href="/" class="footer__logo">
			<img src="{{ site.data.settings.footer_settings.logo_image }}" class="footer__logo__img">
		</a>
		{% else %}
		<a href="/" class="footer__title">
			{{ site.data.settings.basic_settings.site_title }}
		</a>
		{% endif %}

		<p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p>

		<div class="footer__copyright">
			<span>(ɔ) {{ 'now' | date: "%Y" }} {{ site.data.settings.basic_settings.site_title }}</span>
		</div>

		{% include socials.html %}

	</div>

	<div class="wrap">
		<div id="popup" class="lazyload">
			<div class="popup-content">
				<div id="mc_embed_signup">
					<form action="https://xyz.us14.list-manage.com/subscribe/post?u=7a2a4faf1a54a4506c472a35a&amp;id=cd4dd93beb&amp;f_id=00deb5e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
						<h2>Keep up with all our shenanigans</h2>
				<div class="mc-field-group">
					<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
				</label>
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
					<span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
				</div>
				<div hidden="true"><input type="hidden" name="tags" value="7333681"></div>
					<div id="mce-responses" class="clear foot">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7a2a4faf1a54a4506c472a35a_cd4dd93beb" tabindex="-1" value=""></div>
						<div class="optionalParent">
							<div class="clear foot">
								<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
								<p class="brandingLogo"><a href="http://eepurl.com/ini0wg" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_light_dtp.svg"></a></p>
							</div>
						</div>
					</div>
				</form>
			</div>
			<button id="close-btn" class="close-btn">X</button>
		</div>
		<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
		<script type='text/javascript'>
			(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='MMERGE6';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
		</script>
	</div>

	<script>
		const popup = document.getElementById('popup');
		const closeBtn = document.getElementById('close-btn');

		// Show the popup after a delay of 10 seconds
		setTimeout(function() {
			popup.classList.add('show');
		}, 10000);

		// Close the popup when the close button is clicked
		closeBtn.addEventListener('click', function() {
			popup.classList.remove('show');
		});
	</script>

</footer>