---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>
    {%- assign tags = page.tags -%}
    {%- unless tags.size == 0 -%}
      {% assign i = 0 %}
      <div class="tag">
      <i class="fas fa-tags"></i>
      {% for tags in page.tags %}
      <a href="{{ site.baseurl | append: "/tag/" | append: page.tags[i] | downcase | remove: " " }}"><span class="is-link">&nbsp;&nbsp;{{page.tags[i]}}</span></a>
      {% assign i = i | plus:1 %}
      {% endfor %}
      </div>
    {%- endunless -%}
	</div>

</section>

<section class="single">

	{{ page.content }}

</section>